header {
    background-color: #212532;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #212532;
    color: white; */
    text-align: center;
    
  }
  
h1 {
    font-size: 200%;
    /* color: blue; */
    font-weight: bold;
    margin: 20px;
}

p {
    font-weight: bold;
    /* color: blue; */
    font-size: 100%;
}

.br {
    display: block;
    margin-bottom: 2em;
}

.mediumBr {
    display: block;
    margin-bottom: 6em;
}

.largeBr {
    display: block;
    margin-bottom: 10em;
}

footer {
    background-color: #212532;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }


  .center {
    display: grid; 
    place-items: center;
    
  }


  .button {
    background-color: transparent; /* Green */
    border: 2px solid green;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 47%;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

    .button:hover {
        background-color: green;
        color: white;
    }


    .home {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        position:absolute;
        top: 20px;
        right: 40px;
    }

    .homeButton {
        background-color: transparent; /* Green */
        border: 2px solid white;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 47%;
        transition-duration: 0.4s;
      }
    
    .homeButton:hover {
        background-color: blueviolet;
        color: white;
    }

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transition: border-color 0.4s ease;
      }

      .homeButton:hover .arrow {
        border-color: white;

      }

      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      
      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }


    .textBox {
        background-color: transparent;
        align-items: center;
        padding: 20px;
        border-radius: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }