* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.status {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    gap: 0;
    width: 801.34px;
    height: 801px;
    border: 1px solid #333;
    position: relative;
}

.cell {
    position: relative; /* Ensure pieces are positioned relative to their cells */
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.piece {
    font-size: 80px;
    position: absolute; /* Absolute positioning for smooth transitions */
    transition: transform 0.3s ease; /* Add transition for movement */
    z-index: 10; /* Ensure pieces are above the board */
    cursor: pointer;
}


.cell.white {
    background-color: #f0d9b5;
}

.cell.black {
    background-color: #b58863;
}


button#resetButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 3em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#resetButton:hover {
    background-color: #0056b3;
}


button#play-person {
    padding: 10px 20px;
    font-size: 8em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}


button#play-person:hover {
    background-color: #0056b3;
}


button#play-bot {
    padding: 10px 20px;
    font-size: 8em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button#play-bot:hover {
    background-color: #0056b3;
}

button#backButton {
    padding: 10px 20px;
    font-size: 2em;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
